<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bingo Card Display</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="btn-center">
        <form id="setDevice" method="GET" action="/index">
            <button class="btn1">Home</button>
        </form>
    </div>
    <div style="padding-top: 10px;" class="btn-center">
        <form method="POST" action="/bingoCreatorPage"><button class="btn1">Bingo Creator</button></form>
    </div>

    <div class="btn-center">
        <h1>Bingo Card Display</h1>
    </div>

    <div class="padding1">
        <table border="1" class="center1">
            <% if(size==3){ %>
                <tr>
                    <th>B</th>
                    <th>G</th>
                    <th>O</th>
                </tr>
                <%} else if(size==5) {%>
                    <tr>
                        <th>B</th>
                        <th>I</th>
                        <th>N</th>
                        <th>G</th>
                        <th>O</th>
                    </tr>
                    <%} else {%>
                        <tr>
                            <th>B</th>
                            <th>I</th>
                            <th>N</th>
                            <th>G</th>
                            <th>O</th>
                            <th>C</th>
                            <th>A</th>
                            <th>R</th>
                            <th>D</th>
                        </tr>
                        <%}%>
                            <%spot=0%>
                                <%for(let i=1; i <=size; i++) {%>
                                    <tr>
                                        <%while(spot < (size*i)) { %>

                                            <td class="bingobox1">
                                                <%if(bingoArray[spot]==="Free Space" ){ %>
                                                    <%=bingoArray[spot]%>
                                                        <%} else { %>
                                                            <button id="btn<%=spot%>" class="btnbox1">Collect
                                                                the "<%=bingoArray[spot]%>" Achievement</button>
                                                            <%}%>
                                            </td>
                                            <%spot=spot + 1%>
                                                <%}%>
                                    </tr>
                                    <%}%>

        </table>
    </div>

    <div class="btn-center" style="padding-bottom: 10px;">
        <form method="POST" action="/selectBingoObjectives">
            <div class="btn-center">
                <input type="radio" id="3x3" name="size" value="3">
                <label for="3x3">3x3</label>
                <input type="radio" id="5x5" name="size" value="5" checked>
                <label for="5x5">5x5</label>
                <input type="radio" id="9x9" name="size" value="9">
                <label for="9x9">9x9</label>
            </div>
            <div class="btn-center">
                <input type="radio" id="excludeFree" name="free" value="0" checked>
                <label for="excludeFree">Exclude Free Space</label>
                <input type="radio" id="includeFree" name="free" value="1">
                <label for="includeFree">Include Free Space</label>
            </div>
            <input type="radio" id="title" name="title" value="<%=title%>" hidden checked>
            <div class="btn-center">
                <input type="radio" id="excludeUsers" name="inex" value="0" checked>
                <label for="excludeUsers">Exclude User Objectives</label>
                <input type="radio" id="includeUsers" name="inex" value="1">
                <label for="includeUsers">Include User Objectives</label>
            </div>
            <div style="padding-top: 5px;">
                <button class="btn1">Refresh</button>
            </div>
        </form>
    </div>

    <script>

        {
            let btnBingo0 = document.getElementById('btn0');
            let btnBingo1 = document.getElementById('btn1');
            let btnBingo2 = document.getElementById('btn2');
            let btnBingo3 = document.getElementById('btn3');
            let btnBingo4 = document.getElementById('btn4');
            let btnBingo5 = document.getElementById('btn5');
            let btnBingo6 = document.getElementById('btn6');
            let btnBingo7 = document.getElementById('btn7');
            let btnBingo8 = document.getElementById('btn8');
            let btnBingo9 = document.getElementById('btn9');
            let btnBingo10 = document.getElementById('btn10');
            let btnBingo11 = document.getElementById('btn11');
            let btnBingo12 = document.getElementById('btn12');
            let btnBingo13 = document.getElementById('btn13');
            let btnBingo14 = document.getElementById('btn14');
            let btnBingo15 = document.getElementById('btn15');
            let btnBingo16 = document.getElementById('btn16');
            let btnBingo17 = document.getElementById('btn17');
            let btnBingo18 = document.getElementById('btn18');
            let btnBingo19 = document.getElementById('btn19');
            let btnBingo20 = document.getElementById('btn20');
            let btnBingo21 = document.getElementById('btn21');
            let btnBingo22 = document.getElementById('btn22');
            let btnBingo23 = document.getElementById('btn23');
            let btnBingo24 = document.getElementById('btn24');
            let btnBingo25 = document.getElementById('btn25');
            let btnBingo26 = document.getElementById('btn26');
            let btnBingo27 = document.getElementById('btn27');
            let btnBingo28 = document.getElementById('btn28');
            let btnBingo29 = document.getElementById('btn29');
            let btnBingo30 = document.getElementById('btn30');
            let btnBingo31 = document.getElementById('btn31');
            let btnBingo32 = document.getElementById('btn32');
            let btnBingo33 = document.getElementById('btn33');
            let btnBingo34 = document.getElementById('btn34');
            let btnBingo35 = document.getElementById('btn35');
            let btnBingo36 = document.getElementById('btn36');
            let btnBingo37 = document.getElementById('btn37');
            let btnBingo38 = document.getElementById('btn38');
            let btnBingo39 = document.getElementById('btn39');
            let btnBingo40 = document.getElementById('btn40');
            let btnBingo41 = document.getElementById('btn41');
            let btnBingo42 = document.getElementById('btn42');
            let btnBingo43 = document.getElementById('btn43');
            let btnBingo44 = document.getElementById('btn44');
            let btnBingo45 = document.getElementById('btn45');
            let btnBingo46 = document.getElementById('btn46');
            let btnBingo47 = document.getElementById('btn47');
            let btnBingo48 = document.getElementById('btn48');
            let btnBingo49 = document.getElementById('btn49');
            let btnBingo50 = document.getElementById('btn50');
            let btnBingo51 = document.getElementById('btn51');
            let btnBingo52 = document.getElementById('btn52');
            let btnBingo53 = document.getElementById('btn53');
            let btnBingo54 = document.getElementById('btn54');
            let btnBingo55 = document.getElementById('btn55');
            let btnBingo56 = document.getElementById('btn56');
            let btnBingo57 = document.getElementById('btn57');
            let btnBingo58 = document.getElementById('btn58');
            let btnBingo59 = document.getElementById('btn59');
            let btnBingo60 = document.getElementById('btn60');
            let btnBingo61 = document.getElementById('btn61');
            let btnBingo62 = document.getElementById('btn62');
            let btnBingo63 = document.getElementById('btn63');
            let btnBingo64 = document.getElementById('btn64');
            let btnBingo65 = document.getElementById('btn65');
            let btnBingo66 = document.getElementById('btn66');
            let btnBingo67 = document.getElementById('btn67');
            let btnBingo68 = document.getElementById('btn68');
            let btnBingo69 = document.getElementById('btn69');
            let btnBingo70 = document.getElementById('btn70');
            let btnBingo71 = document.getElementById('btn71');
            let btnBingo72 = document.getElementById('btn72');
            let btnBingo73 = document.getElementById('btn73');
            let btnBingo74 = document.getElementById('btn74');
            let btnBingo75 = document.getElementById('btn75');
            let btnBingo76 = document.getElementById('btn76');
            let btnBingo77 = document.getElementById('btn77');
            let btnBingo78 = document.getElementById('btn78');
            let btnBingo79 = document.getElementById('btn79');
            let btnBingo80 = document.getElementById('btn80');
            let btnBingo81 = document.getElementById('btn81');
        }

        {
            btnBingo0.addEventListener("click", changeClass);
            btnBingo1.addEventListener("click", changeClass);
            btnBingo2.addEventListener("click", changeClass);
            btnBingo3.addEventListener("click", changeClass);
            btnBingo4.addEventListener("click", changeClass);
            btnBingo5.addEventListener("click", changeClass);
            btnBingo6.addEventListener("click", changeClass);
            btnBingo7.addEventListener("click", changeClass);
            btnBingo8.addEventListener("click", changeClass);
            btnBingo9.addEventListener("click", changeClass);
            btnBingo10.addEventListener("click", changeClass);
            btnBingo11.addEventListener("click", changeClass);
            btnBingo12.addEventListener("click", changeClass);
            btnBingo13.addEventListener("click", changeClass);
            btnBingo14.addEventListener("click", changeClass);
            btnBingo15.addEventListener("click", changeClass);
            btnBingo16.addEventListener("click", changeClass);
            btnBingo17.addEventListener("click", changeClass);
            btnBingo18.addEventListener("click", changeClass);
            btnBingo19.addEventListener("click", changeClass);
            btnBingo20.addEventListener("click", changeClass);
            btnBingo21.addEventListener("click", changeClass);
            btnBingo22.addEventListener("click", changeClass);
            btnBingo23.addEventListener("click", changeClass);
            btnBingo24.addEventListener("click", changeClass);
            btnBingo25.addEventListener("click", changeClass);
            btnBingo26.addEventListener("click", changeClass);
            btnBingo27.addEventListener("click", changeClass);
            btnBingo28.addEventListener("click", changeClass);
            btnBingo29.addEventListener("click", changeClass);
            btnBingo30.addEventListener("click", changeClass);
            btnBingo31.addEventListener("click", changeClass);
            btnBingo32.addEventListener("click", changeClass);
            btnBingo33.addEventListener("click", changeClass);
            btnBingo34.addEventListener("click", changeClass);
            btnBingo35.addEventListener("click", changeClass);
            btnBingo36.addEventListener("click", changeClass);
            btnBingo37.addEventListener("click", changeClass);
            btnBingo38.addEventListener("click", changeClass);
            btnBingo39.addEventListener("click", changeClass);
            btnBingo40.addEventListener("click", changeClass);
            btnBingo41.addEventListener("click", changeClass);
            btnBingo42.addEventListener("click", changeClass);
            btnBingo43.addEventListener("click", changeClass);
            btnBingo44.addEventListener("click", changeClass);
            btnBingo45.addEventListener("click", changeClass);
            btnBingo46.addEventListener("click", changeClass);
            btnBingo47.addEventListener("click", changeClass);
            btnBingo48.addEventListener("click", changeClass);
            btnBingo49.addEventListener("click", changeClass);
            btnBingo50.addEventListener("click", changeClass);
            btnBingo51.addEventListener("click", changeClass);
            btnBingo52.addEventListener("click", changeClass);
            btnBingo53.addEventListener("click", changeClass);
            btnBingo54.addEventListener("click", changeClass);
            btnBingo55.addEventListener("click", changeClass);
            btnBingo56.addEventListener("click", changeClass);
            btnBingo57.addEventListener("click", changeClass);
            btnBingo58.addEventListener("click", changeClass);
            btnBingo59.addEventListener("click", changeClass);
            btnBingo60.addEventListener("click", changeClass);
            btnBingo61.addEventListener("click", changeClass);
            btnBingo62.addEventListener("click", changeClass);
            btnBingo63.addEventListener("click", changeClass);
            btnBingo64.addEventListener("click", changeClass);
            btnBingo65.addEventListener("click", changeClass);
            btnBingo66.addEventListener("click", changeClass);
            btnBingo67.addEventListener("click", changeClass);
            btnBingo68.addEventListener("click", changeClass);
            btnBingo69.addEventListener("click", changeClass);
            btnBingo70.addEventListener("click", changeClass);
            btnBingo71.addEventListener("click", changeClass);
            btnBingo72.addEventListener("click", changeClass);
            btnBingo73.addEventListener("click", changeClass);
            btnBingo74.addEventListener("click", changeClass);
            btnBingo75.addEventListener("click", changeClass);
            btnBingo76.addEventListener("click", changeClass);
            btnBingo77.addEventListener("click", changeClass);
            btnBingo78.addEventListener("click", changeClass);
            btnBingo79.addEventListener("click", changeClass);
            btnBingo80.addEventListener("click", changeClass);
            btnBingo81.addEventListener("click", changeClass);
        }

        function changeClass() {

            if (btnBingo0.className == "btnbox1") {
                btnBingo0.className = "btnbox2";
            } else {
                btnBingo0.className = "btnbox1";
            }

        }

    </script>

</body>



</html>