<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bingo Creator Page</title>
</head>

<body>
    <h1>Bingo Creator Page</h1>
    <div>
        <form method="POST" action="/selectBingoObjectives">
            <input type="radio" id="3x3" name="size" value="3">
            <label for="3x3">3x3</label>
            <input type="radio" id="5x5" name="size" value="5" checked>
            <label for="5x5">5x5</label>
            <input type="radio" id="9x9" name="size" value="9">
            <label for="9x9">9x9</label>
            <label class="input" for="title"></label>
            <input class="input" type="title" name="title" id="title" placeholder="title" required>
            <button class="btn">Create card</button>
        </form>
    </div>
</body>



</html>