<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bingo Card Display</title>
</head>

<body>
    <h1>Bingo Card Display</h1>
    <form id="setDevice" method="GET" action="/index">
        <button>Home</button>
    </form>
    <%= bingoArray %>
</body>



</html>