.header1 {
  color: #000000;
  -webkit-text-stroke: 1px #000000;
  text-align: center;
  padding-top: 5px;
}

.btn1 {
  background-color: #ffffff;
  transition: box-shadow 0.35s, top 0.3s, transform 0.45s;
  width: 150px;
  box-shadow: 0 1px 0 0 #000000, 0 2px 0 0 #000000, 0 3px 0 0 #000000;
  transform: rotateX(0) rotateY(0) rotateZ(0);
  border-radius: 4rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.btn2 {
  background-color: #ffffff;
  border-radius: 4rem;
  transition: box-shadow 0.35s, top 0.3s, transform 0.45s;
  width: 50px;
  box-shadow: 0 1px 0 0 #000000, 0 2px 0 0 #000000, 0 3px 0 0 #000000;
  transform: rotateX(0) rotateY(0) rotateZ(0);
  font-size: 0.75rem;
  font-weight: bold;
}

.notSelected1 {
  background-color: #ffffff;
  transition: box-shadow 0.35s, top 0.3s, transform 0.45s;
  transform: rotateX(0) rotateY(0) rotateZ(0);
  width: 150px;
  font-size: 0.75rem;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100px;
  height: 100px;
}

.selected1 {
  background-color: #ffd000;
  transition: box-shadow 0.35s, top 0.3s, transform 0.45s;
  transform: rotateX(0) rotateY(0) rotateZ(0);
  width: 150px;
  font-size: 0.75rem;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100px;
  height: 100px;
}

.btn-center {
  padding-top: 20px;
  text-align: center;
}

.btn-left {
  text-align: left;
}

.center1 {
  margin-left: auto;
  margin-right: auto;
}

.bingobox1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100px;
  height: 100px;
}

.padding1 {
  padding-top: 10px;
}

.textbox1 {
  width: 300px;
}